[Desktop Entry]
Icon=application-pdf
Name=everydayrailsrspec.pdf
Type=Link
URL[$e]=file://$HOME/Desktop/Rspec/everydayrailsrspec.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
