[Desktop Entry]
Icon=application-vnd.openxmlformats-officedocument.presentationml.presentation
Name=Knowledge Transfer.pptx
Type=Link
URL[$e]=file://$HOME/Desktop/Rspec/Knowledge%20Transfer.pptx
X-KDE-LastOpenedWith=impress
