[Desktop Entry]
Icon=application-pdf
Name=testing_with_rspec_slides.pdf
Type=Link
URL[$e]=file://$HOME/Desktop/testing_with_rspec_slides.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
